<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="base" content="{{ config.base_url | safe}}" />
    {% if page.summary %}<meta name="description" content="{{ page.summary | markdown(inline=true) }}">{% endif %}
    {%if page %}<meta property="og:title" content="{{ page.title }}">{% endif %}
    {%if page %}<meta property="og:url" content="{{ get_url(path=page.path) }}">{% endif %}
    {% if page.summary %}<meta property="og:description" content="{{ page.summary | markdown(inline=true) }}">{% endif %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <title>{% block title %}Anurag's Blog{% endblock %}</title>
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false)
        }}">
    {% endblock %}
</head>

<body>
    <nav class="menu">
        <header>Menu:</header>
        <ul>
            <li><a class="sans-serif" href="/">Home</a></li>
            <li><a class="sans-serif" href="/about">About</a></li>
            <li><a class="sans-serif" href="/atom.xml">Rss</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>